@import url(./main.css);

.intro__section {
    border-radius: 6px;
    margin-block: 1rem;
}

.intro__services--wrapper {
    display: grid;
    gap: 0.5rem;
    margin-block: 1rem 0;
}

.intro__services {
    border: 0.5px solid var(--greyShade8);
    border-radius: 6px;
    display: flex;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
    padding-block: 0.5rem;
}

.intro__services img {
    width: 15px;
}

input,
textarea {
    outline: 1px solid var(--transparent);
}

input:not([type = "checkbox"]):focus,
textarea:focus {
    outline: 0.5px solid var(--blue);
}

.form-contact__section {
    margin-block: 1.5rem;
}

.input__wrapper {
    display: grid;
    gap: 0.5rem;
}

.input__wrapper input {
    width: 100%;
    border-radius: 6px;
    border: 0.5px solid var(--greyShade8);
    background-color: var(--peachShade4);
    padding: 0.6rem 1rem;
    font-size: 0.6rem;
}

.radio__wrapper {
    margin-block: 1rem;
    text-align: left;
    padding: 1rem;
    border: 0.5px solid var(--greyShade8);
    border-radius: 6px;
}

.radio__wrapper > div {
    margin-block-start: 1rem ;
}

.radio__option {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-block-start: 0.5rem;
    justify-content: flex-start;
}


textarea {
    border: 0.5px solid var(--greyShade8);

    resize: none;
    width: 100%;
    border-radius: 6px;
    padding: 1rem;
    font-size: 0.7rem;
    font-family: inherit;
}

.form__wrapper .call-to-action {
    margin-block-start: 1rem;
    width: 100%;
}

.contact__wrapper {
    margin-block: 1.5rem;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-block-start: 0.5rem;
}

.contact div p {
    text-align: left;
}

.contact .icon__right-arrow svg {
    margin: -8px 0 0 -6px;
}

.social-media__wrapper {
    width: fit-content;
    padding: 0.8rem;
    margin: auto;
    border-radius: 6px;
}

.social-media__bg {
    margin-block: 0.8rem;
    background-color: var(--white);
}